page-login {
  $loginBtnsAnim: 600ms; 
  $loginBtnsDelay: 400ms;
  color: color($colors, white);
  font-size: 14px;
  @include modal-primary();
  
  ion-header button {
    opacity: 0;
    pointer-events: none;
    
    &.active {
      opacity: 1;
      pointer-events: auto;
    }
  }
  
  .slide-zoom {
    height: 100%;
    padding: 16px;
  }
  
  .swiper-slide {
    font-size: inherit;
  }
  
  .login-logo-container {
    height: 50%;
    width: 100%;
    position: relative;
  }

  .login-logo {
    border-radius: 25px;
    border: 8px solid darken(color($login, primary), 10%);
    width: 250px;
    height: 250px;
    margin: 0 auto;
    @include linear-gradient-bottom-diagonal-three(color($colors, white), darken(color($colors, white), 3%), darken(color($colors, white), 6%));
    overflow: hidden;
    text-align: center;
    @include box-shadow();
    @include vertical-align();
    @include transition(width 500ms ease, border-radius 500ms ease, top 500ms ease, transform 500ms ease);
    
    img {
      max-height: 180px;
      @include vertical-align();
    }
    
    @include media($Mobile_sm...) {
      width: 210px;
      height: 180px;
      
      img {
        max-height: 130px;
      }
    }
  }
  
  .login-main-container {
    height: 50%;
    width: 100%;
    position: relative;
  }
  
  .login-buttons {
    text-align: center;
    
    ion-row {
      position: relative;
      top: 25px;
      opacity: 0;
      @include transition(top $loginBtnsAnim ease, opacity $loginBtnsAnim/(5/4) ease);
      transition-delay: $loginBtnsDelay;
      
      &:nth-child(2) {
        transition-delay: $loginBtnsDelay + 200ms;
      }
      &:nth-child(3) {
        transition-delay: $loginBtnsDelay + 400ms;
      }
    }
  
    button {
      background: darken(color($login, primary), 10%);
      @include box-shadow(0 1px 3px darken(color($login, primary), 40%));
      width: 100%;
      max-width: 250px;
      margin-bottom: 25px;
    
      @include media($Mobile_sm...) {
        max-width: 210px;
        margin-bottom: 10px;
      }
    }
  }
  
  .anim-active {
    .login-buttons ion-row {
      opacity: 1;
      top: 0;
    }
  }
  
  // ------------------------- //
  
  .hidden-submit {
    display: none;
  }
  
  .slide-signin {
    
    ion-item {
      max-width: 250px;
      margin: 0 auto;
    }
  }
  
  .login-pad-container {
    @include vertical-align();
    top: 40%;
    opacity: 0;
    
    &.active {
      opacity: 1;
    }
  }
}
