role-stat {
  
  $progressBarHeight: 10px;
  
  .role-stat {
    padding: 16px;
  }
  
  .role-name {
    width: 50%;
    float: left;
    text-align: left;
  }
  
  .role-number {
    width: 50%;
    float: left;
    text-align: right;
  }
 
  .progress-bar {
    width: 100%;
    height: $progressBarHeight;
    border: 1px solid gray;
    background: color($colors, white);
    position: relative;
  }
  
  .bar-filled {
    width: 0px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: blue;
  }
  
  .key-container {
    text-align: left;
    display: table;
    height: $progressBarHeight;
  }
  
  .key-cell {
    width: $progressBarHeight;
    display: table-cell;
    vertical-align: middle;
  }
  
  .key-label {
    display: table-cell;
    padding-left: 5px;
    padding-right: 20px;
  }
  
  .key {
    width: $progressBarHeight;
    height: $progressBarHeight;
    
    &.key-win {
      background: magenta;
    }
    
    &.key-loss {
      background: red;
    }
  }
  
  .bar-win-filled {
    float: left;
    width: 0px;
    height: $progressBarHeight;
    background: magenta;
  }
  
  .bar-loss-filled {
    float: left;
    width: 0px;
    height: $progressBarHeight;
    background: red;
  }
}
