<div class="role-stat">
  <div class="role-container clearfix">
    <div class="role-name">
      {{role.role.name}}
    </div>
    <div class="role-number">
      Games: {{role.amount}}
    </div>
  </div>
  <div class="progress-bar">
    <div class="bar-filled" [style.width]="percent"></div>
  </div>
  <div class="win-stats">
    <div class="key-container clearfix">
      <div class="key key-win"></div>
      <div class="key-label">Wins</div>
      <div class="key key-loss"></div>
      <div class="key-label">Loss</div>
    </div>
  </div>
  <div class="progress-bar clearfix">
    <div class="bar-win-filled" [style.width]="winPercent"></div>
    <div class="bar-loss-filled" [style.width]="lossPercent"></div>
  </div>
</div>
