<ion-header>
  <ion-navbar>
    <ion-title>
      {{villager.fullname}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="has-footer">
  
  <div class="profile-header">
    <profile-pic [picture]="villager.picture" [color]="villager.color" (click)="editProfilePic()"></profile-pic>
    <div class="button-container">
      <button ion-button (click)="goToRoles()" [ngClass]="{'active': showRoles}">Roles</button>
      <button ion-button class="btn-disabled" (click)="goToGames()" [ngClass]="{'active': !showRoles}">Games</button>
    </div>
  </div>
  
  <div class="profile-content loading" *ngIf="!loaded">
    <div>Loading Game Data...</div>
    <ion-spinner></ion-spinner>
  </div>
  
  <div class="profile-content" *ngIf="loaded">
    <game-data [games]="gameHistory" [villager]="villager" [ngClass]="{'hide': !showRoles}"></game-data>
<!--    <game-list [games]="gameHistory" [villager]="villager" [ngClass]="{'hide': showRoles}"></game-list>-->
  </div>
</ion-content>