page-profile {
  
  .profile-header {
    padding: 16px;
    @include linear-gradient-bottom-diagonal-three(lighten(color($colors, secondary), 30%), lighten(color($colors, secondary), 20%), lighten(color($colors, secondary), 10%));
    position: relative;
    z-index: 10;
    border-bottom: 2px solid color($colors, primary);
    
    .profile-pic {
      margin: 0 auto;
      border-color: color($colors, primary);
      
      @include media($Mobile_sm...) { 
        width: 125px;
        height: 125px;
      }
    }
    
    .button-container {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      
      button {
        width: 100px;
        margin: 0;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border: 2px solid color($colors, primary);
        border-bottom: none;
      
        @include media($Mobile_sm...) { 
          width: 75px;
        }
        
        &.active {
          background: lighten(color($colors, primary), 20%);
        }
      }
      
      .btn-disabled {
        background: gray;
      }
      
      button:first-child {
        float: left;
        border-left: none;
        border-top-left-radius: 0px;
      }
      
      button:last-child {
        float: right;
        border-right: none;
        border-top-right-radius: 0px;
      }
    }
  }
  
  .profile-content {
    padding-top: 10px;
    
    &.loading {
      padding-top: 50px;
      text-align: center;
    }
    
    ion-spinner {
      margin-top: 16px;
    }
  }
}
