page-profile {
  
  ion-content {
    @include linear-gradient-bottom-diagonal-three(color($colors, white), darken(color($colors, white), 2.5%), darken(color($colors, white), 5%));
  }
  
  .profile-header {
    padding: 16px;
//    background: color($colors, primary);
    @include linear-gradient-bottom-diagonal-three(lighten(color($colors, primary), 10%), lighten(color($colors, primary), 5%), lighten(color($colors, primary), 0%));
    position: relative;
    z-index: 10;
    border-bottom: 2px solid color($colors, white);
    
    .profile-pic {
      margin: 0 auto;
      border-color: color($colors, white);
      
      @include media($Mobile_sm...) { 
        width: 125px;
        height: 125px;
      }
    }
    
    .button-container {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      
      button {
        width: 100px;
        margin: 0;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border: 2px solid color($colors, white);
        border-bottom: none;
        background: color($colors, secondary);
      
        @include media($Mobile_sm...) { 
          width: 75px;
        }
        
        &.active {
          background: color($colors, white);
          color: color($colors, primary);
        }
      }
      
      button:first-child {
        float: left;
        border-left: none;
        border-top-left-radius: 0px;
      }
      
      button:last-child {
        float: right;
        border-right: none;
        border-top-right-radius: 0px;
      }
    }
  }
  
  .profile-content {
    
    &.loading {
      padding-top: 50px;
      text-align: center;
    }
    
    ion-spinner {
      margin-top: 16px;
    }
    
    &.no-history {
      padding: 32px 16px;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      color: color($colors, primary);
    }
  }
}
