modal-game-survey {
  @include modal-tertiary();
  
  ion-header button {
    opacity: 0;
    pointer-events: none;
    
    &.active {
      opacity: 1;
      pointer-events: auto;
    }
  }
  
  .slide-zoom {
    height: 100%;
  }
  
  .role-slide {
    height: 100%;
    overflow-y: auto;
  }
}