<ion-header>
  <ion-navbar>
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="has-footer">
  
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>
  
  <h1 *ngIf="villager">Welcome {{villager.fullname}}</h1>
  <button ion-button (click)="goToCircles()">Circles</button>
  <button ion-button (click)="goToVillagers()">Villagers</button>
  <button ion-button (click)="goToAdmin()" *ngIf="villager.isAdmin || villager.isMod">Admin</button>
  
  <br/>
  <br/>
  <br/>
  
  <button ion-button (click)="logout()">Log Out</button>
</ion-content>