<!--
<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
-->

<ion-content class="normal-footer">
  
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>
  
  <div class="header-container">
    <img class="logo-name" [src]="assets.assetsUrl + 'name.png'" />
    <button ion-button class="ion-button-secondary button-logout" (click)="logout()">Log Out</button>
  </div>
  
  <div class="villager-container">
    <button (click)="goToVillagers()">
      Search Villagers
    </button>
    <div class="img-container" (click)="goToVillagers()" *ngIf="selectedPictures.length">
      <img class="first" [src]="assets.getProfileUrl() + selectedPictures[0]" />
      <img class="second" [src]="assets.getProfileUrl() + selectedPictures[1]" />
      <img class="third" [src]="assets.getProfileUrl() + selectedPictures[2]" />
      <img class="fourth" [src]="assets.getProfileUrl() + selectedPictures[3]" />
    </div>
  </div>
  
  <div class="circle-container" *ngIf="!villager.currentGame || forceKick" [ngClass]="{'not-admin': !villager.isAdmin && !villager.isMod}">
    <button (click)="goToCircles()">
      Find a Game <ion-icon name="md-arrow-forward"></ion-icon>
    </button>
  </div>
  <div class="highlight-container" *ngIf="!villager.currentGame || forceKick">
    <div>Placeholder Game* to Join <br/> In Development...</div>
  </div>
  
  <div class="current-game-container" *ngIf="villager.currentGame && !forceKick">
    <button (click)="goToCurrentGame()">
      Game In-Progress <ion-icon name="md-arrow-forward"></ion-icon>
    </button>
  </div>
  
  <div class="admin-container" *ngIf="villager.isAdmin || villager.isMod">
    <button (click)="goToAdmin()">
      Administration
    </button>
  </div>
  
  <div class="align-container" [ngClass]="{'not-admin': !villager.isAdmin && !villager.isMod}">
    <img class="villager-m" [src]="assets.getProfileUrl() + 'VillagerM.png'" />
    <div class="good-line"></div>
    <img class="werewolf" [src]="assets.getProfileUrl() + 'Werewolf.png'" />
    <img class="divider" [src]="assets.assetsUrl + 'divider.png'" />
  </div>
  
</ion-content>