pin-pad {
  
  .pin-pad-container {
    max-width: 250px;
    margin: 0 auto;
    
    @include media($Mobile_sm...) {
      max-width: 220px;
    }
  }
  
  .pin-input {
    width: 100%;
    margin-bottom: 20px;
    
    @include media($Mobile_sm...) {
      margin-bottom: 5px;
    }
    
    ion-col div {
      width: 35px;
      height: 35px;
      border-radius: 5px;
      margin: 0 auto;
      border: 2px solid darken(color($colors, white), 15%);
      background: color($colors, primary);
      @include transition(background 200ms ease);
    
      @include media($Mobile_sm...) {
        width: 30px;
        height: 30px;
      }
      
      &.active {
        background: color($colors, white);
      }
    }
  }

  .pin-pad {
    width: 100%;
    text-align: center;
    
    button {
      border: 2px solid darken(color($colors, white), 15%);
      background: color($colors, primary);
      color: color($colors, white);
      width: 55px;
      height: 55px;
    
      @include media($Mobile_sm...) {
        width: 50px;
        height: 50px;
      }
      
      &:active {
        background: color($colors, white);
        color: color($colors, primary);
      }
    }
  
    .btn-back {
      border: none;
      font-size: 30px;
      padding-left: 0;
      padding-right: 0;
      background: transparent;
      
      &:active {
        background: transparent;
        color: lighten(color($colors, primary), 50%);
      }
    }
  }
  
}
