pin-pad {
  
  .pin-pad-container {
    max-width: 250px;
    margin: 0 auto;
  }
  
  .pin-input {
    width: 100%;
    margin-bottom: 25px;
    
    ion-col div {
      width: 30px;
      height: 30px;
      border-radius: 5px;
      margin: 0 auto;
      border: 2px solid darken(color($colors, secondary), 15%);
      background: color($colors, secondary);
      @include transition(background 200ms ease);
      
      &.active {
        background: lighten(color($colors, secondary), 50%);
      }
    }
  }

  .pin-pad {
    width: 100%;
    text-align: center;
    
    button {
      border: 2px solid darken(color($colors, secondary), 15%);
      background: color($colors, secondary);
      width: 50px;
      height: 50px;
      
      &:active {
        background: darken(color($colors, secondary), 15%);
      }
    }
  }
  
}
