modal-create-account {
  @include modal-primary();
  color: color($colors, white);
  
  p {
    margin: 0;
    text-align: center;
  }
  
  ion-col {
    text-align: center;
  }
  
  .label {
    color: color($colors, white);
  }
  
  // ------------- //
  
  .profile-pic {
    margin: 0 auto;
  }
  
  // ------------- //
  
  .create-account-terms { 
    margin-top: 25px;
    font-size: 12px;
  }
  
  .create-account-pin {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid darken(color($colors, white), 15%);
    
    img {
      max-width: 50%;
    }
  }
  
  // ------------- //
  
  .not-ready {
    
    .create-account-pin {
      @include linear-gradient-bottom-diagonal-three(darken(color($colors, white), 15%), darken(color($colors, white), 20%), darken(color($colors, white), 25%));
    }
  }
  
  .hidden-submit {
    display: none;
  }
  
}