modal-create-account {
  @include modal-primary();
  color: color($colors, white);
  
  p {
    margin: 0;
    text-align: center;
  }
  
  ion-col {
    text-align: center;
  }
  
  .label {
    color: color($colors, white);
  }
  
  // ------------- //
  
  .profile-pic {
    margin: 0 auto;
    
    @include media($Mobile_sm...) { 
      width: 125px;
      height: 125px;
    }
  }
  
  // ------------- //
  
  .create-account-terms { 
    margin-top: 25px;
    font-size: 12px;
  }
  
  .create-account-pin {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid darken(color($colors, white), 15%);
    
    img {
      max-width: 50%;
      display: inline-block;
    }
    
    .checkmark-dark {
      display: none;
    }
    
    @include media($Mobile_sm...) { 
      width: 125px;
      height: 125px;
    }
    
    &.bg-cyan, &.bg-yellow, 
    &.bg-green, &.bg-white {
      .checkmark-light {
        display: none;
      }
      .checkmark-dark {
        display: inline-block;
      }
    }
  }
  
  // ------------- //
  
  .not-ready {
    
    .create-account-pin {
      @include linear-gradient-bottom-diagonal-three(color($colors, white), darken(color($colors, white), 5%), darken(color($colors, white), 10%));
    }
  }
  
  .hidden-submit {
    display: none;
  }
  
}