<ion-header>
  <ion-navbar>
    <ion-title>
      Circles
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="has-footer">
  <div class="circle" *ngFor="let circle of circles">
    <div>{{circle.name}}</div>
    <div *ngIf="circle.moderator">
      Moderator: {{circle.moderator.fullname}}
    </div>
    <div *ngIf="circle.game && !circle.game.status.active">
      {{circle.game.villagers.length + circle.game.placeholders.length}}/{{circle.game.seats}}
    </div>
    <button ion-button (click)="goToCircle(circle)" *ngIf="circle.moderator">View</button>
    <div *ngIf="!isMod && !inGame">
      <button ion-button (click)="moderate(circle)" *ngIf="!circle.moderator && villager.isMod">Moderate</button>
      <button ion-button (click)="joinGame(circle)" *ngIf="circle.game && circle.game.villagers.length + circle.game.placeholders.length < circle.game.seats && !villager.currentGame && !circle.game.status.active">Join</button>
    </div>
  </div>
</ion-content>