.bg-darkblue {
  background: $bg-darkblue;
}
.bg-tan {
  background: $bg-tan;
}
.bg-orange {
  background: $bg-orange;
}
.bg-yellow {
  background: $bg-yellow;
}
.bg-green {
  background: $bg-green;
}
.bg-blue {
  background: $bg-blue;
}
.bg-black {
  background: $bg-black;
}
.bg-gray {
  background: $bg-gray;
}