@mixin modal-primary() {
  
  ion-header .toolbar-background, 
  ion-footer .toolbar-background {
    background: darken(color($login, primary), 15%);
    color: color($colors, white);
  }
  
  ion-content {
    @include linear-gradient-bottom-diagonal-three(lighten(color($login, primary), 10%), lighten(color($login, primary), 5%), color($login, primary));
  }
  
  .label, ion-input, a {
    color: color($colors, white) !important;
  }
}

@mixin modal-tertiary() {
  
  ion-header .toolbar-background, 
  ion-footer .toolbar-background {
    background: color($colors, white);
    color: color($colors, primary);
  }
  
  .toolbar-title, .bar-buttons button {
    color: color($colors, primary);
  }
  
  ion-content {
    @include linear-gradient-bottom-diagonal-three($bg-white, darken($bg-white, 5%), darken($bg-white, 10%));
  }
  
  .label, ion-input, a {
    color: color($colors, primary) !important;
  }
}