@mixin modal-primary() {
  
  ion-header .toolbar-background, 
  ion-footer .toolbar-background {
    background: darken(color($login, primary), 15%);
    color: color($colors, white);
    @include box-shadow(0 1px 3px darken(color($login, primary), 40%));
  }
  
  ion-content {
    @include linear-gradient-bottom-diagonal-three(lighten(color($login, primary), 10%), lighten(color($login, primary), 5%), color($login, primary));
  }
  
  .label, ion-input, a {
    color: color($colors, white) !important;
  }
}

@mixin modal-tertiary() {
  
  ion-header .toolbar-background, 
  ion-footer .toolbar-background {
    background: color($colors, special);
    color: color($colors, primary);
  }
  
  .toolbar-title, .bar-buttons button {
    color: color($colors, primary);
  }
  
  ion-content {
    @include linear-gradient-bottom-diagonal-three(lighten(color($colors, special), 15%), lighten(color($colors, special), 10%), lighten(color($colors, special), 5%));
  }
  
  .label, ion-input, a {
    color: color($colors, primary);
  }
}