<ion-header>
  <ion-navbar>
    <ion-title>
      {{circle.name}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="has-footer">
  
  <div *ngIf="circle.game">
    <div class="game-header clearfix">
      <div class="game-status">
        <div *ngIf="circle.game.status">
          Status: <span *ngIf="circle.game.status.active" class="status-active">Active</span>
          <span *ngIf="circle.game.status.end" class="status-ended">Ended</span>
          <span *ngIf="circle.game.status.cancelled" class="status-cancelled">Cancelled</span>
          <span *ngIf="!circle.game.status.active && !circle.game.status.end && !circle.game.status.cancelled" class="status-open">Open</span>
        </div>
      </div>
      <div class="game-seats">
        Seats: {{circle.game.villagers.length + circle.game.placeholders.length}}/{{circle.game.seats}}
      </div>
    </div>
    <div class="game-buttons">
      <!-- status-open -->
      <button ion-button class="game-begin" (click)="beginGame()" *ngIf="isMod && circle.game.villagers.length + circle.game.placeholders.length > 0 && !circle.game.status.active && !circle.game.status.end && !circle.game.status.cancelled">Start Game</button>
      <!-- status-active -->
      <button ion-button class="game-end" *ngIf="isMod && circle.game.status.active" (click)="endGame()">End Game</button>
      <!-- TODO: cancel Game -->
    </div>
    <div class="game-moderator">
      <h2>Moderator</h2>
      <ul>
        <li>
          <villager-detail [villager]="circle.game.moderator" (click)="goToProfile(circle.game.moderator)"></villager-detail>
        </li>
      </ul>
      <button ion-button *ngIf="isMod && circle.game.villagers.length < circle.game.seats && !circle.game.status.active"
              (click)="addPlaceholder()">
        + Placeholder
      </button>
    </div>
    <div class="game-villagers">
      <h2>Villagers</h2>
      <ul *ngIf="circle.game.villagers.length + circle.game.placeholders.length > 0">
        <li *ngIf="inGame && !isMod">
          <villager-detail [villager]="villager" (click)="goToProfile(villager)"></villager-detail>
          <button class="leave" (click)="leaveGame(villager)">Leave</button>
        </li>
        <li *ngFor="let aVillager of otherVillagers">
          <villager-detail [villager]="aVillager" (click)="goToProfile(aVillager)"></villager-detail>
          <button class="kick" *ngIf="isMod && !circle.game.status.active && !circle.game.status.end && !circle.game.status.cancelled" (click)="kickVillager(aVillager)">Kick</button>
        </li>
        <li *ngFor="let placeholder of circle.game.placeholders">
          <placeholder-detail></placeholder-detail>
          <button class="kick" *ngIf="isMod && !circle.game.status.active && !circle.game.status.end && !circle.game.status.cancelled" (click)="removePlaceholder()">Kick</button>
        </li>
      </ul>
      <div *ngIf="circle.game.villagers.length + circle.game.placeholders.length === 0">
        Hungry werewolves and eager villagers on the way!
      </div>
    </div>
  </div>
  <div *ngIf="!circle.game && isMod">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate *ngIf="!circle.game">
      <ion-item>
        <ion-label stacked color="primary">Seats</ion-label>
        <ion-input type="number" name="seats" ngModel #seats="ngModel" required 
                   autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
        </ion-input>
      </ion-item>
      <button ion-button>Create Game</button>
    </form>
    
<!--
    <button ion-button *ngIf="circle.game.villagers.length > 0 && isMod && circle.game.status.active" (click)="cancelGame()">Cancel</button>
-->
  </div>
</ion-content>