page-game {
  
  .game-header {
    margin: -16px -16px 0px;
    padding: 16px;
    background: lighten(color($colors, secondary), 15%);
    border-bottom: 2px solid black;
  }
  
  .game-moderator {
    margin: 15px 0px 35px;
  }
  
  .status-open {
    color: blue;
  }
  .status-active {
    color: green;
  }
  .status-cancelled {
    color: red;
  }
  .status-end {
    color: gray;
  }
  
  .game-status, .game-seats {
    width: 50%;
    float: left;
  }
  
  .game-buttons {
    text-align: right;
    
    button {
      margin: 0;
    }
    
    .game-begin {
      background: color($colors, special);
      border-radius: 50%;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      padding: 0px 30px 10px;
      box-sizing: content-box;
      
      &:active {
        background: lighten(color($colors, special), 5%);
      }
    }
    
    .game-end {
      background: darkred;
      border-radius: 50%;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      padding: 0px 30px 10px;
      box-sizing: content-box;
      
      &:active {
        background: lighten(darkred, 5%);
      }
    }
  }
  
  ul {
    padding: 0;
    margin: 0px -16px;
    list-style-type: none;
  }
  
  li {
    padding: 0;
    margin: 0;
    background: lighten(color($colors, secondary), 15%);
    position: relative;
    border-bottom: 2px solid black;
    
    &:first-child {
      border-top: 2px solid black;
    }
  }
  
  villager-detail {
    @include linear-gradient-bottom-diagonal-three(lighten(color($colors, secondary), 20%), lighten(color($colors, secondary), 15%), lighten(color($colors, secondary), 5%));
    padding-right: 50px;
    position: relative;
  }
  
  placeholder-detail {
    @include linear-gradient-bottom-diagonal-three(lighten(color($colors, primary), 10%), lighten(color($colors, primary), 5%), color($colors, primary));
    color: color($colors, white);
    padding-right: 50px;
    position: relative;
    
    .profile-pic {
      border-color: color($colors, white);
    }
  }
  
  button.kick {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 100%;
    background: orange;
  }
  
  button.leave {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 100%;
    background: yellow;
  }
}
