<ion-header>
  <ion-navbar>
    <ion-title>
      {{circle.name}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="has-footer">
  
  <div *ngIf="circle.game">
    <div class="game-header clearfix">
      <div class="games-status">
        <div *ngIf="circle.game.status">
          Status: <span *ngIf="circle.game.status.active" class="status-active">Active</span>
          <span *ngIf="circle.game.status.end" class="status-ended">Ended</span>
          <span *ngIf="circle.game.status.cancelled" class="status-cancelled">Cancelled</span>
          <span *ngIf="!circle.game.status.active && !circle.game.status.end && !circle.game.status.cancelled" class="status-open">Open</span>
        </div>
      </div>
      <div class="games-seats">
        Seats: {{circle.game.villagers.length + circle.game.placeholders.length}}/{{circle.game.seats}}
      </div>
    </div>
    <div class="game-moderator">
      <h2>Moderator</h2>
      <ul>
        <li>
          <villager-detail [villager]="circle.game.moderator" (click)="goToProfile(circle.game.moderator)"></villager-detail>
        </li>
      </ul>
      <button ion-button *ngIf="isMod && circle.game.villagers.length < circle.game.seats"
              (click)="addPlaceholder()">
        + Placeholder
      </button>
    </div>
    <div class="game-villagers">
      <h2>Villagers</h2>
      <ul *ngIf="circle.game.villagers.length + circle.game.placeholders.length > 0">
        <li *ngIf="inGame && !isMod">
          <villager-detail [villager]="villager" (click)="goToProfile(villager)"></villager-detail>
          <button class="leave" (click)="leaveGame(villager)"></button>
        </li>
        <li *ngFor="let aVillager of otherVillagers">
          <villager-detail [villager]="aVillager" (click)="goToProfile(aVillager)"></villager-detail>
          <button class="kick" *ngIf="isMod && !circle.game.status.active && !circle.game.status.end && !circle.game.status.cancelled" (click)="kickVillager(aVillager)"></button>
        </li>
        <li *ngFor="let placeholder of circle.game.placeholders">
          <placeholder-detail></placeholder-detail>
          <button class="kick" *ngIf="isMod && !circle.game.status.active && !circle.game.status.end && !circle.game.status.cancelled" (click)="removePlaceholder()"></button>
        </li>
      </ul>
      <div *ngIf="circle.game.villagers.length + circle.game.placeholders.length === 0">
        Hungry werewolves and eager villagers on the way!
      </div>
    </div>
  </div>
  <div *ngIf="!circle.game && isMod">
    <span>TODO: Add input to add # of seats</span>
    <button ion-button (click)="createGame()" 
      *ngIf="!circle.game">Create Game</button>
<!--
    
    <button ion-button *ngIf="circle.game.villagers.length > 0 && isMod && !circle.game.status.active && !circle.game.status.end && !circle.game.status.cancelled" (click)="beginGame()">Start Game</button>
    <button ion-button *ngIf="circle.game.villagers.length > 0 && isMod && circle.game.status.active" (click)="endGame()">End Game</button>
    <button ion-button *ngIf="circle.game.villagers.length > 0 && isMod && circle.game.status.active" (click)="cancelGame()">Cancel</button>
-->
  </div>
</ion-content>