page-game {
  color: color($colors, primary);
  
  .game-header {
    margin: -16px -16px 0px;
    padding: 16px;
    background: color($colors, primary);
    color: color($colors, white);
  }
  
  .input-seats-introductory {
    margin-top: 0;
    margin-bottom: 16px;
    text-align: center;
    color: color($colors, primary);
  }
  
  .input-seats {
    background: color($colors, primary);
    color: color($colors, white);
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 50%;
    @include box-shadow-primary();
    padding: 20px;
    text-align: center;
    
    .item {
      max-width: 130px;
      margin: 0 auto;
      font-size: 30px;
      color: color($colors, white);
    }
    
    input {
      text-align: center;
      margin: 0 0 0 5px !important;
    }
    
    button {
      margin-top: 32px;
    }
    
    .label {
      opacity: 0;
    }
  }
  
  .game-moderator {
    margin: 15px 0px 35px;
    
    .btn-container {
      width: 100%;
      
      .btn-mod {
        margin: 0;
        border-radius: none;
        box-shadow: none;
        border: none;
        width: 45%;
        float: left;
        padding: 13px 16px 22px;
        background: color($colors, primary);
        color: color($colors, white);
        text-align: center;
        border-radius: 50%;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        
        &:last-child {
          float: right;
        }
      }
    }
  }
  
  .status-open, .status-active, 
  .status-cancelled, .status-end {
    font-weight: bold;
  }
  
  .game-status, .game-seats {
    width: 50%;
    float: left;
  }
  
  .game-buttons {
    text-align: right;
    
    button {
      margin: 0;
    }
    
    .game-begin {
      background: color($profile, orange);
      border-radius: 50%;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border: 2px solid color($colors, primary);
      border-top: none;
      padding: 0px 30px 10px;
      box-sizing: content-box;
      
      &:active {
        background: lighten(color($colors, primary), 15%);
      }
    }
    
    .game-cancel {
      background: color($colors, primary);
      border-radius: 50%;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      padding: 0px 30px 10px;
      box-sizing: content-box;
      float: left;
      
      &:active {
        background: lighten(color($colors, primary), 15%);
      }
    }
    
    .game-end {
      background: color($colors, primary);
      border-radius: 50%;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      padding: 0px 30px 10px;
      box-sizing: content-box;
      
      &:active {
        background: lighten(color($colors, primary), 15%);
      }
    }
  }
  
  ul {
    padding: 0;
    margin: 0px -16px;
    list-style-type: none;
  }
  
  li {
    padding: 0;
    margin: 0;
    background: lighten(color($colors, secondary), 15%);
    position: relative;
    border-bottom: 2px solid black;
    
    &:first-child {
      border-top: 2px solid black;
    }
  }
  
  villager-detail {
    background: color($colors, secondary);
    padding-right: 50px;
    position: relative;
    color: color($colors, white);

    .profile-pic {
      border-color: color($colors, white);
    }
  }
  
  placeholder-detail {
    @include linear-gradient-bottom-diagonal-three(lighten(color($colors, primary), 10%), lighten(color($colors, primary), 5%), color($colors, primary));
    color: color($colors, white);
    padding-right: 50px;
    position: relative;
    font-weight: bold;
    
    .profile-pic {
      border-color: color($colors, white);
    }
  }
  
  button.kick {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 100%;
    background: $bg-orange;
    color: color($colors, white);
    border-left: 2px solid color($colors, black);
  }
  
  button.leave {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 100%;
    background: color($profile, orange);
    color: color($colors, white);
    border-left: 2px solid color($colors, black);
  }
}
