page-villagers {
  ul {
    padding: 0;
    margin: 0px -16px;
    list-style-type: none;
  }
  
  li {
    padding: 0 16px;
    margin: 0;
    position: relative;
    border-bottom: 2px solid color($colors, primary);
  }
  
  .input-container {
    background: color($colors, primary);
    padding: 16px 16px 30px;
    border-bottom: 2px solid color($colors, primary);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    min-height: 118px;
    @include box-shadow-primary();
    
    .label, .input {
      color: color($colors, white);
    }
  }
  
  ion-spinner {
    @include absolute-center(40px, 40px);
  }
  
  .spinner-ios-crescent circle {
    stroke: color($colors, white);
  }
}
