<ion-header>
  <ion-navbar>
    <ion-title>
      Villagers
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="has-footer bg-secondary">
  <div class="input-container">
    <ion-spinner *ngIf="!villagers" name="crescent"></ion-spinner>
    <ion-item *ngIf="villagers">
      <ion-label stacked color="primary">Search by Name</ion-label>
      <ion-input type="text" [value]="search" (input)="searchVillagers($event.target.value)"
                 autocomplete="off" autocorrect="off" autocapitalize="on" spellcheck="false">
      </ion-input>
    </ion-item>
  </div>
  <ul *ngIf="villagers"> 
    <li *ngFor="let villager of villagers | sortVillagers">
      <villager-detail [villager]="villager" (click)="goToProfile(villager)"></villager-detail>
    </li>
  </ul>
</ion-content>