page-villagers {
  ul {
    padding: 0;
    margin: 0px -16px;
    list-style-type: none;
  }
  
  li {
    padding: 0 16px;
    margin: 0;
    position: relative;
    border-bottom: 2px solid color($colors, primary);
  }
}
