profile-pic {
  
  .profile-pic {
    max-width: 150px;
    max-height: 150px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid color($colors, secondary);
  }
  
  img {
    max-width: 100%;
    display: block;
  }
}
