<div>
  <h2>Unique Roles</h2>
  <role-stat *ngFor="let role of uniqueRoles" [role]="role" [max]="max" ></role-stat>
  <div *ngIf="uniqueRoles.length === 0">
    No Unique Roles
  </div>
</div>

<div>
  <h2>Played Games</h2>
  <ion-list>
    <ion-item *ngFor="let game of games">
      <div>Timestamp: {{game.timestamp | date:'EEE, h:mmaa'}}</div>
      <div>Moderator: {{game.moderator.fullname}}</div>
      <div *ngIf="game.userDetails.winner">
        Winner: {{game.userDetails.winner.name}}
      </div>
      <div *ngIf="game.userDetails[villager._id]">
        <div>Role: {{game.userDetails[villager._id].role.name}}</div>
        <div>Alignment: {{game.userDetails[villager._id].alignment.name}}</div>
      </div>
    </ion-item>
    <ion-item *ngIf="playedGames.length === 0">
      No Played Games
    </ion-item>
  </ion-list>
</div>

<div>
  <h2>Moderated Games</h2>
  <ion-list>
    <ion-item *ngFor="let game of games | moderatedGames : villager">
      <div>Timestamp: {{game.timestamp | date:'EEE, h:mmaa'}}</div>
      <div *ngIf="game.userDetails.winner">
        Winner: {{game.userDetails.winner.name}}
      </div>
    </ion-item>
    <ion-item *ngIf="moderatedGames.length === 0">
      No Moderated Games
    </ion-item>
  </ion-list>
</div>
